<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
<header class="header">
    <div>
        <h2>TODO LIST OF USER</h2>
    </div>
    <div>
        <a href="/users/signIn">
            <h3>Sign In</h3>
        </a>
    </div>
    <div>

        <a href="/users/signUp">
            <h3>Sign Up</h3>
        </a>
    </div>
    <div>
        
        <a href="/users/signOut">
            <h3>Sign Out</h3>
        </a>
    </div>
</header>