<h1>Sign  Up</h1>
<form action="/users/create" method="POST">
<input type="string" required name="name" placeholder="Your Name">
<input type="email" required name="email" placeholder="Your Email">
<input type="password" required name="password" placeholder="Type your password here">
<input type="password" required name="confirmPassword" placeholder="type your password again">
<input type="submit">
</form>