
<h1>Sign In</h1>
<form action="/users/createSession" method="POST"> 
    <input type="email" required name="name" placeholder="Your Email">
    <input type="password" required name="password" placeholder="Type your password here">
    <input type="submit">
</form>